@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
}

<h3>We suggest the following:</h3>
    <div>
        <h1>Task 2 Demo</h1>
        <p>The time is @DateTime.Now</p>

        <a id="page 2" href="Task2_Page2.vbhtml">Page 2</a>
        <a id="MarkForm1" href="MarkForm.vbhtml">MarkForm</a>
        <a id="Images1" href="Images.vbhtml" >Images</a>
    </div>

